body {font-family:arial,helvetica;color:#253e09;}
table.main {padding:0;border-spacing:5px;border:1px black;height:100%;width:100%;height:100%;}
table.main th {text-align:left;}

table.viewlist th {text-align:left;}
table.viewlist td {padding:5px;border-spacing:0;border-top:1px dotted #253e09;}

td {vertical-align:top;}
/*td.leftnav {width:150px;background-color:#dbdcb7;}*/
td.leftnav {width:150px;background-color:#f3f2e8;}

h2 {margin:0;padding:5px 5px 5px 0;}

a {color:#253e09;}
a:visited {color:#666E5D;}
a.headernav, a.headernav:visited {margin:3px;color:#FFFFFF;}
a.leftnav, a.leftnav:visited {color:#253e09;}

.list0 {background-color:#fff;padding:5px;}
.list1 {background-color:#dbdcb7;padding:5px;}
.listleft {width:800px;}
.listright {width:20px;}
.list0_inactive {background-color:#d0d0d0;padding:5px;}
.list1_inactive {background-color:#bbbc97;padding:5px;}

#headerbar {
    color: #fff;
    background-image:url(../img/header_image.jpg);
    background-repeat: no-repeat;
    height:126px;
    width:1037px;
    padding:5px;
}
#leftnav {width:180px;height:100%;padding:5px;min-height:500px;}
#leftnav ul {list-style-image:url('../img/arrow.gif');padding:0 0 0 20px;}
#leftnav li {padding:5px 0 5px 0;}
#maincol {background-color:#f3f2e8;width:830px;height:100%;padding:5px;min-height:500px;}
/* #footer {background-color:#6b360c;height:80px;width:1027px;margin-top:10px;padding:5px;color:#f8f7ec;font-size:13px;} */

#footer a:link, #footer a:visited {color:#666E5D};

ul.tree, ul.tree ul {
    list-style-type: none;
    background: url(../img/vline.png) repeat-y;
    margin: 0;
    padding: 0;
}

ul.tree ul {
    margin-left: 10px;
}

ul.tree li {
    margin: 0;
    padding: 0 12px;
    line-height: 20px;
    background: url(../img/node.png) no-repeat;
    color: #253e09;
    font-family:arial,helvetica;
}

ul.tree li:last-child {
    background: #f8f7ec url(../img/lastnode.png) no-repeat;
}

ul.tree li.rootnode {
    background: #f8f7ec;
}

