@charset "UTF-8";
<!--
body {
	font: 80%/1.4 Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
}


/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	
}

h1 {	
color:#253e09;
font-weight:normal;margin:0px;}

h2 {	
color:#78491c;
font-weight:normal;
display:inline;
margin-right:30px;

margin-left:0px;
padding:0px;
}

h3 {	
color:#78491c;
font-weight:normal;
}

.h3g
{
	color:#253e09;
	font-weight:normal;
	margin-bottom:0px;
}

.h3o
{
	color:#ea8711;
	font-weight:normal;
	margin-bottom:0px;
}

/* ~~ Styles for orange links ~~ */
a.orange {color:#ea8711; 
}
a.orange a:link, a.orange a:visited {color:#ea8711;
}

/* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
a img { 
	border: none;
}

/* ~~ Styles for body text links ~~ */
a {

	text-decoration: none;
	/* font-weight:bold; */ 
}

a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: underline;
}

/* ~~this fixed width container surrounds the other divs~~ */
.container {
	width: 820px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top:20px;
	padding-bottom:20px;
	background-color: #FFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}

/* ~~ Green header; logo is an image linked to in the HTML ~~ */
.header {
	background-color: #5d7336;
}

/* ~~ Styles for brown menu in PALS_1.html ~~ */
#navcontainer_brown ul
{
padding-left: 220px;
padding-top: 15px;
padding-bottom: 12px;
margin-left: 0;
background: #78491c url(images/brown_stripe_bg.png) repeat-x;
color: #d5a077;
float: left;
width: 730px;
font: 100% Verdana, Arial, Helvetica, sans-serif;

}

#footer{
padding-left: 5px;
padding-right: 5px;
padding-top: 10px;
padding-bottom: 12px;
margin-left: 0;
background: #78491c url(images/brown_stripe_bg.png) repeat-x;
background-size: 60px 50px;
color: #d5a077;
float: left;
width: 1065px;
font: 100% Verdana, Arial, Helvetica, sans-serif;
}


#navcontainer_brown ul li { display: inline; }

#navcontainer_brown ul li a
{
padding: 0.15em 3em 0em 1.5em;
color: #d5a077;
text-decoration: none;
float: left;
}

#navcontainer_brown ul li a:hover
{
color: #fff;
}
#navcontainer_brown ul li a#current
{
	background: url(images/arrow.png) no-repeat center left;
color: #fff;
}

/* ~~ Styles for beige menu in PALS_2.html ~~ */
#navcontainer ul
{
padding-left: 0px;
margin-left: 0;
background-color: #f3f2e8;
color: #5d7336;
float: left;
width: 950px;
font: 120%/1 Verdana, Arial, Helvetica, sans-serif;
}

#navcontainer ul li { display: inline; }

#navcontainer ul li a
{
padding: 1em 1.75em 1.25em 1.75em;
color: #5d7336;
text-decoration: none;
float: left;
background: #f3f2e8 url(images/menu_line.png) no-repeat right center;
}
#navcontainer ul li a.last
{
padding: 1em 1.25em 1.25em 1.25em;
color: #5d7336;
text-decoration: none;
float: left;
background-image:none;
}

#navcontainer ul li a:hover
{
text-decoration:underline;
}
#navcontainer ul li a#current
{
text-decoration:underline;
}

#search_stripe {background-color: #78491c; height:35px; float:left; width: 950px;
}
#search {
padding:5px 0px 5px 30px;
}
#submit {border:2px solid #f3f2e8;background-color: #5d7336;color:#fff;}
/* ~~ Styles for Outside Applications brown buttons in PALS_2.html ~~ */
#outside_app ul li {
list-style-type: none;
padding: 0px 0px 0px 5px;
margin: 6px 10px 0px 0px;
display: block;
float: right;
background: #d5a077 url(images/brown_corner.jpg) no-repeat left center;
font: 10px/20px "Lucida Grande", verdana, sans-serif;
text-align: center;

}



.brown_corner { 
background: #cd0 url(images/brown_corner_r.jpg) no-repeat right center; height:20px;width:5px;float:left;
}
#outside_app li a { text-decoration:none; color:#78491c; float:left; 
}
#outside_app li a:hover { text-decoration:underline; color:#fff;
}

/* ~~ Styles for left navigation column in PALS_1.html ~~ */
.left_sidebar {
	float: left;
	width: 195px;
	background-color: #fff;
	padding-bottom: 10px;
	margin-top:30px;
}

.orange_button {background: #fff url(images/orange_button.png) no-repeat;
width: 195px;
height: 65px;
}
.orange_button p {color:#78491c; text-align:center; padding-top:10px; margin: 0px;font-size: 90%;
}
.orange_button strong {color:#fff; text-align:center; margin: 0px; font-size: 150%; padding:0px; line-height:5px;
}

/* ~~ Left navigation column links styles ~~ */
ul.nav {
	list-style: none; 
	padding: 0px 0px 20px 0px;
	margin-top:15px;
	margin-bottom: 15px; 
	/*background: #f3f2e8 url(images/round_corner_bottom.jpg) no-repeat left bottom; */
}
ul.nav h3 {
padding: 10px 5px 0px 0px;
font-weight: bold;
color:#253e09;
line-height:10px;
}
ul.nav li { margin-left:15px;
	padding:5px 0px;
}
ul.nav a, ul.nav a:visited { 
	
	padding: 0px 5px 0px 20px;
	display: block; 
	width: 185px;  
	text-decoration: none;
	font-weight:normal;
	color: #393e61;
	
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	background: url(images/arrow.png) no-repeat center left; text-decoration:underline;
	color: #393e61;
}
/* ~~ Styles for green buttons on right hand side of PALS_1.html ~~ */
#top_button {
float: right;
}


#top_button .green_button {
	float:left;
background-color: #afc28c;
padding: 10px 15px 10px 15px;
margin-left:10px;
border:2px solid #94a975;
}



#top_button {color:#263a0f; 
}
#top_button a:link, #top_button a:visited {color:#263a0f;
}

/* ~~ Styles for main content block ~~ */
.content {

	padding: 30px 0px 10px 30px;
	width: 715px;
	float: left;
}
.content p a {
color: #48539a;
}	

.content_2 {

	padding: 30px 0px 10px 30px;
	width: 560px;
	float: left;
}
.content_2  h1{

margin-bottom:30px;
}
.content2_pages {margin: 30px auto; width:350px;}
.content2_pages a {
	color: #78491c;
	text-decoration: none;
	font-weight:normal; padding:5px; text-align:center;
}
.content2_pages a.currentpage {
	
	font-weight:bold; 
}

.content2_pages a.nextpage {background: url(images/arrow.png) no-repeat center right; padding-right:15px;

}
.content2_pages a:hover, .content2_pages a:active, .content2_pages a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: underline;
}

.project_block {background-color: #f3f2e8;
margin-top:20px; padding:20px 20px 10px 20px;
}

.project_block p {color: #78491c; margin:0px; line-height:110%;padding-left:15px;

}

.project_block p#selected {background: url(images/arrow.png) no-repeat center left;

}

.project_block a {
	color: #48539a;
	text-decoration: underline;
	font-weight:bold; margin-left:20px; 
}

.project_block a:hover, .project_block a:active, .project_block a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}
.p_divider {height:20px; width:20px;}

/* ~~ Styles for light green line ~~ */
hr {
  border: 0;
  color: #f0f0e2;
background-color: #f0f0e2;
height: 3px;
}

/*form styles */

.form_line {margin-bottom:20px;
}
.form_line p {color:#253e09; display:inline;}

.req_box {color:#ea8711; font-weight:bold; display:inline;}
textarea:focus, input:focus {
border: 1px solid #000;
}
input    {
display:inline;
border: 1px solid #999;
height: 26px;
background-color: #f3f2e8;

}
.noborder   {
display:inline;
border: none;
height: 20px;
background-color: #fff;

}

form img {margin-left:7px;}

/*Tabbed Box styles*/
#wrap {
      width: 320px;
	 
	  background: #5d7336 url(images/wrap_bottom.png) no-repeat left bottom; 
	  float: left;
	  margin-left:40px;
	  margin-top:40px;
	  padding-bottom:10px;
	}
	#wrap h2 {color:#fff; margin-left:15px;}
	
   .tabbed-box {
      width: 300px;
	  margin:20px auto 0px auto;
     
       }
   .tabbed-box .tabs li {
      list-style: none;
      float: left; }
   .tabbed-box .tabs li a {
      display: block;
      width: 148px;
      padding: 5px 0;
      font-weight: normal;
      text-align: center;
      text-decoration: none;
	  font-size: 90%;
      color: #99bb73;
	  	  background: url(images/tab_dgreen.png) no-repeat left top; 
   
	   border-left: 4px solid #5d7336;}
   .tabbed-box .tabs li:first-child a {
      border-left: none; }
   .tabbed-box .tabs li a:hover {
      color: #99bb73;
	  text-decoration:underline;}
   .tabbed-box .tabs li a:focus {
      outline: none; }
   .tabbed-box .tabs li a.active {

	  	  background: url(images/tab_lgreen.png) no-repeat left top; 
      color: #263a0f;}
   .tabbed-content {
      padding: 3em 1em 1em 1em;
      display: none;
	  background-color: #99bb73; height:400px;}
	  
	     .tabbed-content p {
      color: #263a0f;
	  font-weight: normal;
	  font-size: 90%;
	  }
	  
	  .announcement { margin-top:15px;
	  }
	  .date {
      float:left;
      width: 50px;
	  height: 50px;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
	  font-size: 90%;
	  	  background-color: #263a0f; margin-right: 15px;
		  
		  
}
.date p {
      color:#99bb73;
	  font-size: 110%;
	  font-weight: bold;
	  margin-top:5px;
}

.date strong {
      color:#fff;
	  font-size: 200%;
	  line-height: 20px;
}

.ann_text {float:right; width:200px;}
.ann_text a:link {color:#fff;}
.arrow_nav {margin-top:20px; font-size:80%;margin-left:auto;margin-right:auto; width:202px;}
.arrow_nav a:link {color: #fff;}
#last {margin-left:0px; margin-right:10; width:54px;float:left;background: url(images/arrow_left.png) no-repeat center left;padding-left:15px;}
#viewall {margin-left:10px; margin-right:10; width:54px;}
#next {text-align:right;margin-right:0px; margin-left:10; width:54px;float:right;background: url(images/arrow_right.png) no-repeat center right;padding-right:15px;}

.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
-->

